* {
  margin: 0;
}

@font-face {
  font-family: "Roboto" sans-serif;
  src: url("./Roboto/Roboto-Medium.ttf");
}

body {
  background-color: black;
  font-family: "Roboto";
}

/* HERO BANNER */

.hero-banner {
  position: relative;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  justify-content: center;
}

.hero-banner img {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: block;
}

.hero-image {
  width: 100%;
  height: auto;
  z-index: 1;
}

.hero-title {
  z-index: 2;
  width: 70%;
}

.hero-icon-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-top: 50vh;
  margin-right: 10vh;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.logo-bfm {
  z-index: 2;
  width: 140px;
}

.logo-1 {
  width: 20vh;
  height: 20vh;
}

.logo-2 {
  width: 6vh;
  height: 6vh;
}

.info-icon {
  z-index: 2;
}

.button-container {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  align-items: center;
  width: 37vh;
  height: auto;
}

.main-button {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.main-button span {
  padding-left: 50px;
}

.icon-arrow {
  width: 50px;
}

/* ARTICLE 1 */

.article-1 {
  width: 70%;
  margin: 0 auto;
  padding-top: 7vh;
}

.pole-gurk-container {
  display: flex;
  justify-content: center;
}

.article-1 h1 {
  color: white;
  padding-bottom: 5vh;
}

.article-1 img {
  width: 100%;
}

/* A vivre sans limite */

$itemGrow: 1.2;
$duration: 250ms;

.movie-list-container {
  margin-top: 10vh;
  width: 100%;
  height: 40vh;
}

.movie-list-container h1 {
  margin-left: 10vh;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  overflow: hidden;
  scroll-behavior: smooth;

  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;

    .item {
      padding: 0 2px;
      transition: $duration all;

      &:hover {
        margin: 0 40px;
        transform: scale(1.2);
      }
    }

    a {
      position: absolute;
      color: #fff;
      text-decoration: none;
      font-size: 6em;
      background: rgb(0, 0, 0);
      width: 80px;
      padding: 20px;
      text-align: center;
      z-index: 1;

      &:nth-of-type(1) {
        top: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          -90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        );
      }
      &:nth-of-type(2) {
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        );
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  a.arrow__btn {
    display: none;
  }
}

.movie-list-container img {
  width: 30vh;
  padding-left: 3vh;
  position: relative;
}

.movie-list-container h1 {
  color: white;
  padding-bottom: 3vh;
}

.otherlist {
  margin-top: 25vh;
}

.lastlist {
  margin-bottom: 30vh;
}

.item {
  width: 200px;
  height: 300px;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 0px 0px rgba(black, 0.5);
  &:hover {
    &:before {
      transform: translateY(10px);
      transform: translateX(21px);
      opacity: 0;
    }
    .info {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(black, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transition: 0.5s;
  }
  h1 {
    margin: 0px;
  }
  p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
    &:hover {
      background: dodgerblue;
      color: white;
    }
  }
}
